.left {
    float: left;
    display: inline-block;
}

.right {
    float: right;
    width: 50%;
    display: inline-block;
}

.group {
    padding: 6rem 0;
}

.group:after {
    content: "";
    display: table;
    clear: both;
}

.svg_item {
    width: 172px;
    height: 172px;
}

.item_box {
    border: #f5f5f5;
    border-width: 2px;
    border-style: solid;
    padding: 8px;
    border-radius: 8px;
    background: #f5f5f5;
}

.item_box:hover {
    cursor: pointer;
}

.slideshow {
    max-width: 980px;
    margin: auto;
    position: relative;
}

.slideshow:hover {
    display: block;
}

.slideshow_img {
    width: 100%;
}

.play_badge {
    max-width: 60%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 480px) {
    .left, .right {
        float: none;
        width: auto;
    }

    .play_badge {
        max-width: 90%;
        display: block;
        margin: auto;
    }
}

#main_article {
    display: grid;
    vertical-align: middle;
    padding: 7.5rem 1rem;
    
}

#row_text {
    transform: translateY(25%);
}

#play_badge {
}