<footer class="c-footer">
  <div class="u-container c-footer__container">
    <p>&copy; {{ site.owner }} {{ site.time | date: '%Y' }}</p>
    <p>
      {% if site.webSite %}<a href="{{ site.webSite }}">Website</a>{% endif %}
      {% if site.facebookUsername %}<a href="https://facebook.com/{{ site.facebookUsername }}">Facebook</a>{% endif %}
      {% if site.instagramUsername %}<a href="https://instagram.com/{{ site.instagramUsername }}">Instagram</a>{% endif %}
      {% if site.githubUsername %}<a href="https://github.com/{{ site.githubUsername }}">Github</a>{% endif %}
    </p>
  </div>
</footer>
