---
layout: default
---

<link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">

<article class="c-article">
    <header class="c-header c-article__header">
        <div class="u-container">
            <h1 class="c-header__title">{{ page.title }}</h1>
        </div>
    </header>

    <div class="c-article__main">
        {{ content }}

        <!--<div class="item_box" onclick="window.location='https://liceoarzignano.github.io/backup'">
            <h2>Backup</h2>
            <p>Salvataggio e ripristino dati tramite Google Drive</p>
        </div>

        <div class="item_box" onclick="window.location='https://liceoarzignano.github.io/eventi'">
            <h2>Eventi</h2>
            <p>Organizzazione degli eventi scolastici</p>
        </div>

        <div class="item_box" onclick="window.location='https://liceoarzignano.github.io/notizie'">
            <h2>Notizie</h2>
            <p>Ricezione circolari e comunicati sul dispositivo</p>
        </div>

        <div class="item_box" onclick="window.location='https://liceoarzignano.github.io/safe'">
            <h2>Safe</h2>
            <p>Salvataggio password scolastiche in modo sicuro</p>
        </div>

        <div class="item_box" onclick="window.location='https://liceoarzignano.github.io/voti'">
            <h2>Voti</h2>
            <p>Archiviazione valutazioni e visualizzazione medie</p>
        </div-->
    </div>
</article>
