---
layout: default
---

<link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">

<article class="c-article">
    <header class="c-header c-article__header">
        <div class="u-container">
            <h1 class="c-header__title">{{ page.title }}</h1>
        </div>
    </header>

    <img src="{{ site.url }}/img/header.png" alt="Hero">
    <div class="c-article__main" id="main_article">
        {{ content }}

        <!-- Voti -->
        <div class="group">
            <div class="left">
                <svg class="svg_item" viewBox="0 0 24 24">
                    <path fill="#333" d="M20.71,7.04C20.37,7.38 20.04,7.71 20.03,8.04C20,8.36 20.34,8.69 20.66,9C21.14,9.5 21.61,9.95 21.59,10.44C21.57,10.93 21.06,11.44 20.55,11.94L16.42,16.08L15,14.66L19.25,10.42L18.29,9.46L16.87,10.87L13.12,7.12L16.96,3.29C17.35,2.9 18,2.9 18.37,3.29L20.71,5.63C21.1,6 21.1,6.65 20.71,7.04M3,17.25L12.56,7.68L16.31,11.43L6.75,21H3V17.25Z" />
                </svg>
            </div>
            <div class="right" id="row_text">
                <h2>Voti</h2>
                <p>Archivia tutti i tuoi voti e visualizza le medie in tempo reale</p>
            </div>
        </div>

        <!-- Eventi -->
        <div class="group">
            <div class="left">
                <svg class="svg_item" viewBox="0 0 24 24">
                    <path fill="#333" d="M19,13.5A1.5,1.5 0 0,1 17.5,12A1.5,1.5 0 0,1 19,10.5A1.5,1.5 0 0,1 20.5,12A1.5,1.5 0 0,1 19,13.5M14,13.5A1.5,1.5 0 0,1 12.5,12A1.5,1.5 0 0,1 14,10.5A1.5,1.5 0 0,1 15.5,12A1.5,1.5 0 0,1 14,13.5M9,13.5A1.5,1.5 0 0,1 7.5,12A1.5,1.5 0 0,1 9,10.5A1.5,1.5 0 0,1 10.5,12A1.5,1.5 0 0,1 9,13.5M22,3H7C6.31,3 5.77,3.35 5.41,3.88L0,12L5.41,20.11C5.77,20.64 6.37,21 7.06,21H22A2,2 0 0,0 24,19V5C24,3.89 23.1,3 22,3Z" />
                </svg>
            </div>
            <div class="right" id="row_text">
                <h2>Eventi</h2>
                <p>Annota date di verifiche, compiti per casa e molto altro nel tuo nuovo diario virtuale</p>
            </div>
        </div>

        <!-- Circolari -->
        <div class="group">
            <div class="left">
                <svg class="svg_item" viewBox="0 0 24 24">
                    <path fill="#333" d="M12.04,2.5L9.53,5H14.53L12.04,2.5M4,7V20H20V7H4M12,0L17,5V5H20A2,2 0 0,1 22,7V20A2,2 0 0,1 20,22H4A2,2 0 0,1 2,20V7A2,2 0 0,1 4,5H7V5L12,0M7,18V14H12V18H7M14,17V10H18V17H14M6,12V9H11V12H6Z" />
                </svg>
            </div>
            <div class="right" id="row_text">
                <h2>Notizie</h2>
                <p>Ricevi le circolari direttamente sul tuo dispositivo in tempo reale senza andare a cercarle ogni volta sul sito</p>
            </div>
        </div>

        <!-- Sostituzioni -->
        <div class="group">
            <div class="left">
                <svg class="svg_item" viewBox="0 0 24 24">
                    <path fill="#333" d="M20,8l-4,4h3c0,3.86-3.14,7-7,7c-1.93,0-3.68-0.78-4.95-2.05c-0.2-0.2-0.38-0.4-0.55-0.62l-1.42,1.42  C6.73,19.74,9.22,21,12,21c4.97,0,9-4.03,9-9h3L20,8z M8,12H5c0-3.87,3.13-7,7-7c2.24,0,4.22,1.04,5.5,2.66l1.42-1.41  C17.27,4.27,14.79,3,12,3c-4.97,0-9,4.03-9,9H0l4,4L8,12z"></path>
                </svg>
            </div>
            <div class="right" id="row_text">
                <h2>Sostituzioni</h2>
                <p>Consulta i prospetti delle sostituzioni direttamente dal tuo dispositivo</p>
            </div>
        </div>

        <!-- Safe -->
        <div class="group">
            <div class="left">
                <svg class="svg_item" viewBox="0 0 24 24">
                    <path fill="#333" d="M7,14A2,2 0 0,1 5,12A2,2 0 0,1 7,10A2,2 0 0,1 9,12A2,2 0 0,1 7,14M12.65,10C11.83,7.67 9.61,6 7,6A6,6 0 0,0 1,12A6,6 0 0,0 7,18C9.61,18 11.83,16.33 12.65,14H17V18H21V14H23V10H12.65Z" />
                </svg>
            </div>
            <div class="right" id="row_text">
                <h2>Safe</h2>
                <p>Dimentichi anche tu le password della scuola? Ora potrai salvarle nell'app in modo sicuro e potrai ritrovarle facilmente ogni volta che vorrai</p>
            </div>
        </div>

        <!-- Download -->
        <center><h1>Scarica ora</h1></center>
        <a href="https://play.google.com/store/apps/details?id=it.liceoarzignano.bold&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1">
            <img alt="Disponibile su Google Play" src="https://play.google.com/intl/en_us/badges/images/generic/it_badge_web_generic.png" class="play_badge">
        </a>
    </div>
</article>
