---
layout: default
---

<link rel="stylesheet" href="{{ "/css/home.css" | prepend: site.baseurl }}">

<article class="c-article">
    <header class="c-header c-article__header">
        <div class="u-container">
            <h1 class="c-header__title">{{ page.title }}</h1>
        </div>
    </header>

    <div class="c-article__main">
        {{ content }}
        <center>
            <a href="https://github.com/liceoarzignano">
                <img src="{{ site.url }}/img/github_logo.png" class="play_badge">
            </a>
        </center>

        <div class="item_box" onclick="window.location='https://github.com/liceoArzignano/app_bold'">
            <h2>App</h2>
            <p>Applicazione android (kotlin)</p>
        </div>

        <div class="item_box" onclick="window.location='https://github.com/liceoArzignano/snake_bold'">
            <h2>Snake</h2>
            <p>Invio circolari all'app (python)</p>
        </div>

        <div class="item_box" onclick="window.location='https://github.com/liceoArzignano/poster'">
            <h2>Poster</h2>
            <p>Frontend gestione sostituzioni (python)</p>
        </div>

        <div class="item_box" onclick="window.location='https://github.com/liceoArzignano/storyteller_bold'">
            <h2>Storyteller</h2>
            <p>Piattaforma inio notifiche dal web tramite account (python)</p>
        </div>

        <div class="item_box" onclick="window.location='https://github.com/liceoArzignano/vote'">
            <h2>Vote</h2>
            <p>Programma valutazione docenti (kotlin)</p>
        </div>
    </div>
</article>
